<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
	<!--
        <serverUrl url ="http://10.68.7.162:6080/arcgis/services/world/MapServer/WMSServer"
               matchAll="true"
               dynamicToken="true"
			      username="vsgis"
               password="vsgis"
               host="10.68.7.162:6080"/>-->
			   
			   <serverUrl url="http://10.68.7.162:6080/arcgis/services/world/MapServer/WMSServer"
			   matchAll="true"/>
			   <serverUrl url="http://10.68.7.162:6080/arcgis/services/ShanDong/ShandongMap/MapServer/WMSServer"
			   matchAll="true"/>
			   <serverUrl url="http://10.68.7.162:6080/arcgis/rest/services/QianQi/BaseMap/MapServer"
			   matchAll="true"/>
			     <serverUrl url="http://t0.tianditu.com/img_c/wmts"
			   matchAll="true"/> 
			           <!-- <serverUrl url ="http://192.168.94.247:6080/arcgis/rest/services" -->
               <!-- matchAll="true" -->
               <!-- dynamicToken="true" -->
               <!-- host="192.168.94.247:6080" -->
               <!-- username="qianqi" -->
               <!-- password="qianqi"/> -->
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information   http://192.168.94.247:6080/arcgis/rest/services/QianQi/TL/MapServer/0   -->
